.nav {
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  color: brown;
  margin: 0;
  font-size: 40px;
}

.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: brown;
}

h1 a {
  color: brown;
  text-decoration: none;
}